
    <!--use this to make notes-->
    <header>
        <h1>Finstabangers</h1>
    </header>
    <main role="main">
        <% @posts.each do |post| %>
        <article class="post">
            <div class="user-info">
                <img src="<%= post[:avatar_url] %>" alt="<%= post[:username] %>">
                <h2><%= post[:username]%></h2>
                <h3><%= post[:humanized_time_ago] %></h3>
            </div>
            <a class="photo" href="#">
                    <img src="<%= post[:photo_url] %>" alt="post from <%= post[:username]%>">
            </a>
            <div class="actions">
                <%= post[:like_count] %> likes
                <span class="comment-count"><%= post[:comment_count] %> comment</span>
            </div>
            <ul class="comments">
                <%post[:comments].each do |comment| %>
                <li>
                    <p>
                     <%= comment[:username] %>: <%= comment[:text] %>
                    </p>
                </li>
            <% end %>
            </ul>
        </article>
    <%end%>
</main>
        
    <!--    <article class="post">-->
    <!--        <div class="user-info">-->
    <!--            <img src="http://naserca.com/images/kirk_whalum.jpg" alt="kirk_whalum">-->
    <!--           <h2>kirk_whalum</h2>-->
    <!--           <h3>1 hour ago</h3>-->
    <!--        </div>-->
    <!--        <a class="photo" href="#">-->
    <!--             <img src="http://naserca.com/images/whale.jpg" alt=" post from kirk_whalum">-->
    <!--        </a>-->
    <!--        <div class+"actions">-->
    <!--            0 likes-->
    <!--            <span class="comment-count">0 comments</span>-->
    <!--        </div>-->
    <!--        <ul class="comments">-->
    <!--            <li>-->
    <!--                <p>-->
    <!--                    kirk_whalum: #weekendvibes-->
    <!--                </p>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </article>-->
    <!--    <article class="post">-->
    <!--        <div class="user info">-->
    <!--            <img src="http://naserca.com/images/marlin_peppa.jpg" alt="marlin_peppa">-->
    <!--            <h2> marlin_peppa</h2>-->
    <!--            <h3> 3 hours ago</h3>-->
    <!--        </div>-->
    <!--        <a class="photo" href="#">-->
    <!--            <img src="http://naserca.com/images/marlin.jpg" alt="post from marlin_peppa">-->
    <!--        </a>-->
    <!--        <div class="actions">-->
    <!--            0 likes-->
    <!--            <span class="comment-count"> 0 comments</span>-->
    <!--        </div>-->
    <!--        <ul class="comments">-->
    <!--            <li>-->
    <!--                <p>-->
    <!--                    marlin_peppa: Lunchtime Yo!! ;)-->
    <!--                </p>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </article>-->
    <!--</main>-->

